body {
  background-color: rgb(246, 202, 220);
}

.links-container {
  margin-top: 48px;
}

.heading {
  margin-top: 24px;
  text-align: center;
}

.group {
  background-color: rgb(246, 202, 220);
  margin-top: 48px;
}

.link {
  display: inline-flex;
  align-items: center;
  margin: 48px 0 48px 12px;
}

.link-text-with-picture {
  margin-left: 24px;
  font-size: 40px;
}

.link-text {
  font-size: 40px;
}